.container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f6f6f6;
  padding: 16px;
  border-radius: 10px;
  width: 375%;
  transform: translate(-2.7%, -27%);
  z-index: -1;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
  z-index: -1;
}

.child1,
.div18,
.div19 {
  position: absolute;
  z-index: -1;
}
.div19 {
  top: 167px;
  left: 51px;
  line-height: 130%;
  color: #0067a3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  z-index: -1;
}
